.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.col.default {
    width: 100%;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}

@media only screen and (min-width: 540px) {
    .col.default {
        width: calc(50% - 20px);
        margin: 10px;
    }
}

@media only screen and (min-width: 1256px) {
    .col.default {
        width: calc(33.3333% - 20px);
    }
}

@media only screen and (min-width: 1400px) {
    .col.default {
        width: calc(25% - 20px);
    }
}
