.sidebar {
    width: 360px;
    background: #f8f8f8;
    position: fixed;
    left: 0px;
    top: 0px;
    height: 100vh;
    padding: 30px;
    flex-direction: column;
    display: none;
}

.sidebarActive {
    display: flex;
}

@media only screen and (min-width: 1023px) {
    .sidebar {
        display: flex;
    }
}

.logo {
    margin-bottom: 60px;
    display: block;
}

.nav {
    flex: 1;
}

.nav ul {
    list-style: none;
}

.nav li {
    margin: 10px 0;
}

.nav a {
    display: block;
    background: #ffffff;
    height: 50px;
    line-height: 50px;
    border-radius: 10px;
    padding: 0 27px;
    color: #8e8b8b;
    text-decoration: none;
    border: 1px solid transparent;
}

.nav a.active {
    border: 1px solid #31c6e8;
    color: #31c6e8;
}

.footer {
    padding: 0 27px;
}

.footer a {
    color: #000000;
    text-decoration: none;
}

.footer a.active {
    font-weight: bold;
}

.social {
    margin-top: 17px;
    font-size: 1.6em;
}

.social ul {
    list-style: none;
}

.social li {
    margin-right: 20px;
    display: inline-block;
}

.social a {
    color: #000000;
}
