.content {
    padding: 15px;
    background: #f8f8f8;
    flex: 1;
}

.content h2 {
    font-weight: normal;
    font-size: 1em;
}

.content a {
    text-decoration: none;
    color: inherit;
}

.content a:hover {
    text-decoration: underline;
}
