.header {
    position: fixed;
    top: 0px;
    left: 0px;
    background: white;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 90px;
}

.header .logo {
    margin: 0 auto;
}

.headerSticky {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

@media only screen and (min-width: 1023px) {
    .header,
    .toggleCol {
        display: none;
    }
}

.toggleCol {
    position: fixed;
    left: 35px;
    top: 30px;
    z-index: 15;
}

.toggle {
    background: transparent;
    border: 0px;
    padding: 5px;
}

.toggleBox {
    position: relative;
    background: transparent;
    border: 0px;
    height: 20px;
    width: 35px;
    display: block;
    cursor: pointer;
}

.toggleBox div {
    position: absolute;
    width: 35px;
    height: 4px;
    display: block;
    background: #000000;
    transition: 0.2s transform, 0.2s opacity;
}

.toggleBox div:nth-child(1) {
    top: 0px;
}

.toggleBox div:nth-child(2) {
    top: 8px;
}

.toggleBox div:nth-child(3) {
    top: 16px;
}

.toggleBox.active div:nth-child(1) {
    transform: rotateZ(-45deg) translate(-5px, 6px);
}

.toggleBox.active div:nth-child(2) {
    transform: rotateZ(45deg);
}

.toggleBox.active div:nth-child(3) {
    transform: rotateZ(45deg) translate(-6px, -6px);
    opacity: 0;
}
