.article {
    padding: 25px;
    background: #f8f8f8;
    margin: 25px 0;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.article:first-child {
    margin-top: 0px;
}

.imageCol {
    width: 100%;
    min-height: 100px;
    display: block;
    overflow: hidden;
    margin-bottom: 10px;
}

.image {
    width: 100%;
    height: 100px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    display: block;
    transition: 0.2s transform;
}

@media only screen and (min-width: 392px) {
    .imageCol,
    .image {
        width: 75px;
        height: 75px;
    }

    .imageCol {
        margin-bottom: 0px;
    }
}

.image:hover {
    transform: scale(1.2);
}

@media only screen and (min-width: 1023px) {
    .imageCol {
        width: 110px;
        height: 110px;
    }

    .image {
        width: 110px;
        height: 110px;
    }
}

.content {
    padding: 0 10px;
    flex: 1;
}

@media only screen and (min-width: 392px) {
    .content {
        padding: 0 25px;
    }
}

.content h2 {
    font-weight: normal;
    font-size: 1.2em;
    display: inline;
    margin-right: 10px;
}

@media only screen and (min-width: 1023px) {
    .content h2 {
        margin-right: 20px;
    }
}

.content h2 a {
    text-decoration: none;
    color: inherit;
}

.content h2 a:hover {
    text-decoration: underline;
}

.meta {
    margin: 8px 0;
}

.source {
    color: #8f8b8b;
}

.source a {
    color: inherit;
    text-decoration: none;
}

.source a:hover {
    text-decoration: underline;
}
